body {
    font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "PingFang SC", "Helvetica", "Helvetica Neue", "BlinkMacSystemFont", sans-serif;
    font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}